/* Normalizacion. Existen reglas de normalizado.
 El asterisco significa SELECTOR GLOBAL de todo el documento */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
/* Normalizacion universal html */
html{
    font-family: ;
}

/* SELECTOR POR ELEMENTO*/
footer{
    background-color: rgb(255, 122, 122);
}

/* SELECTOR POR CLASES */
.ancla{
    text-decoration: none;
}
.titulo{
    padding-top: 50px; 
    padding-right: 150px;
    padding-left: 300px;
    padding-bottom: 500px;
    border-top: 10px solid green;
    border-right: 15px dashed blue;
    border-bottom: 15px solid yellow;
    border-left: 15px dashed red;
    margin-top: 100px;
    margin-right: 150px;
    margin-bottom: 200px;
    margin-left: 90px;

}
header{
    display: none; /* !!!!!!!No me muestra nada!!!!!!! */
}


/* SELECTOR ID */
#selectorId{
    color: rgb(244, 0, 0);
}




